body{
    position: relative;
    background-color: #15c4ca;
    margin: 0;
    padding: 0;
}
div.text{
    position: fixed;
    top: 35%;
    left: 20%;
    padding: 25px;
    font-size: 130%;
    border-radius: 5px ;
    box-shadow: 0 0 5px;
    z-index: 1;
    transition: 1s;
}
div.text:hover{
    color: white;
    padding: 35px;
    text-shadow: 0 0 25px;
    box-shadow: 0 0 15px;
    border-radius: 50%;
}
div.box{
    position: fixed;
    top: 130px;
    left: 65%;
    width: 23%;
    height: 58%;
    padding: 20px 15px;
    border-radius: 10px;
    transition: 1s ease;
    background: linear-gradient(to top, #0099cc 0%, #66ffff 100%);
    box-shadow: 0 0 8px black;
}
div.box:hover{
    box-shadow: 10px 10px 30px black;
}
div.display_board{
    width: 96%;
    height: 20%;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    border: 5px inset white;
    z-index: -1;
}
div.num{
    display: block;
    margin-top: 15%;
}
div.num input{
    color: white;
    width: 22%;
    margin: 1%;
    font-size: 300%;
    background-color: rgba(0, 0, 0, 0.336);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.603), 0 0 15px rgba(255, 255, 255, 0.432);
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    transition: none;
}
div.num input:hover{
    transition: none;
    background-color: rgba(117, 109, 109, 0.034);
}
div.num input:active{
    z-index: -1;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.61), 0 0 20px rgba(97, 96, 96, 0.26);
}

@media only screen and (max-width: 1100px){
    div.text{
        left: 8%
    }
    div.box{
        left: 50%;
        width: 40%;
        height: 48%;
    }
    div.num input{
        width: 21%;
        margin: 1%;
        font-size: 200%;
    }
}